{% extends "accounts/auth_base.html" %}
{% load i18n %}

{% block title %}{% trans "Contraseña restablecida" %}{% endblock %}

{% block auth_kicker %}{% trans "Tu cuenta" %}{% endblock %}
{% block auth_title %}{% blocktrans %}Contraseña <em>restablecida</em>{% endblocktrans %}{% endblock %}
{% block auth_lede %}<p class="commercial-auth__lede">{% trans "Tu contraseña ha sido cambiada correctamente. Ya puedes acceder a tu cuenta." %}</p>{% endblock %}

{% block auth_body %}
<a href="{% url 'commercial_login' %}" class="commercial-auth__button commercial-auth__button--link">{% trans "Iniciar sesión" %}</a>
{% endblock %}
