# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff
*.sqlite3
*.log

# Node modules
node_modules/

# Environment variables
.env
environments/**/.env.test

# Local test virtualenv
.venv-backend-test/

# Build
build/

