@font-face {
    font-family: 'TTnorms-Regular';
    src: url("{% static 'Tipografia/TTnorms-Regular.woff2' %}") format('woff2'),
         url("{% static 'Tipografia/TTnorms-Regular.woff' %}") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTnorms-Bold';
    src: url("{% static 'Tipografia/TTnorms-Bold.woff2' %}") format('woff2'),
         url("{% static 'Tipografia/TTnorms-Bold.woff' %}") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TTnorms-Italic';
    src: url("{% static 'Tipografia/TTnorms-Italic.woff2' %}") format('woff2'),
         url("{% static 'Tipografia/TTnorms-Italic.woff' %}") format('woff');
    font-weight: normal;
    font-style: italic;
}

/* Estilos para definir tipografía en títulos, subtítulos y cuerpo */
body {
    font-family: 'TTnorms-Regular', sans-serif;
}

h1, .titulo {
    font-family: 'TTnorms-Bold', sans-serif;
    font-size: 2.5em;
}

h2, .subtitulo {
    font-family: 'TTnorms-Bold', sans-serif;
    font-size: 2em;
}

/* Puedes ajustar tamaños y estilos según lo requieras */

