{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-4xl mb-3 text-left md:mr-10" style="color: #20415b;">
            Noticias<br>
        </h2>
        <img src="IMAGENES/Guardian futuro.jpg" alt="guardian futuro" style="width: 50%; margin-left: 230px;">
        <h3 class="text-3xl mb-3 text-center md:mr-10" style="color: #20415b; margin-top: 8px;">
            <a href=""{% static 'guardianfuturo.html' %}"" class="enlace">La ropa del futuro: un guardián de nuestro...</a>
        </h3>    
        <h5 class="mb-3 text-center md:mr-10" style="color: #20415b; font-size: x-small;">
            4 DE AGOSTO DE 2024
        </h5>    
        <div class="mb-3 text-left md:mr-10" style="color: #20415b; font-size: medium; margin-top: 8px; margin-left: 70px;" >
            <p>Por: Juan Manuel Goenaga.</p><br>
            <p><a>La tecnología ha transformado innumerables aspectos de nuestras vidas, y la moda no es una excepción. La indumentaria del futuro,integrada con innovaciones avanzadas, </a><a id="mirar" href="guardianfuturo.html" class="enlace"> no solo será...
                <div class="avisito" id="avisito" style="margin-left: 400px;">Ver más</div>
            </a></p>
        </div>
        <script>
            // Referencias a los elementos
            const mirar = document.getElementById('mirar');
            const avisito = document.getElementById('avisito');
        
            // Evento mouseenter: Mostrar tooltip
            mirar.addEventListener('mouseenter', () => {
                avisito.style.display = 'block';
            });
        
            // Evento mouseleave: Ocultar tooltip
            mirar.addEventListener('mouseleave', () => {
                avisito.style.display = 'none';
            });
        </script>
{% endblock content %}
