{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <img src="IMAGENES/Guardian futuro.jpg" alt="guardian futuro" style="width: 50%; margin-left: 230px;">
    <h3 class="text-3xl mb-3 text-center md:mr-10" style="color: #20415b; margin-top: 8px;">
        <a>La ropa del futuro: guardiana de nuestra salud</a>
    </h3>    
    <h5 class="mb-3 text-center md:mr-10" style="color: #20415b; font-size: x-small;">
        4 DE AGOSTO DE 2024
    </h5>    
    <div class="mb-3 text-left md:mr-10" style="color: #20415b; font-size: medium; margin-top: 8px; margin-left: 70px;" >
        <p>Por: Juan Manuel Goenaga.</p><br>
        <p>La tecnología ha transformado innumerables aspectos de nuestras      vidas, y la moda no es una excepción.<br><br>
            La ropa del futuro, integrada con innovaciones avanzadas, no solo será un medio de expresión personal, sino también un aliado crucial para nuestra salud. A continuación, exploramos cómo estas prendas inteligentes podrán alertarnos sobre problemas de salud y las funcionalidades que ofrecerán.<br><br>
            Sensores integrados de monitorización de la salud<br><br>
            Una de las características más destacables de la ropa del futuro será la integración de sensores avanzados capaces de monitorizar de forma constante diversos parámetros de salud. Estos sensores, incrustados en el tejido de la ropa, podrán medir la frecuencia cardíaca, la presión arterial, los niveles de glucosa y la saturación de oxígeno en sangre. Los estudios han demostrado que los sensores de salud integrados en las prendas tienen una precisión del 95% en la medición de la frecuencia cardíaca y del 90% en la medición de la presión arterial. Además, la capacidad de tomar muestras de ADN en tiempo real permitirá realizar diagnósticos genéticos rápidos y precisos.<br><br>
            Detección del estrés y del estado emocional<br><br>
            Además de los parámetros físicos, la ropa del futuro podrá monitorizar el estado emocional del usuario. Los sensores que detectan cambios en la sudoración, la temperatura de la piel y la respiración podrán evaluar los niveles de estrés y ansiedad. Según la Organización Mundial de la Salud (OMS), el estrés afecta al 70% de los trabajadores en todo el mundo, con graves consecuencias para la salud mental y física. Estos sensores ayudarán a identificar y gestionar el estrés de forma eficaz, mejorando el bienestar general del usuario.<br><br>
            Prevención de lesiones y fatiga<br><br>
            En el ámbito deportivo, la ropa inteligente jugará un papel vital en la prevención de lesiones y la gestión de la fatiga. Los sensores de movimiento y acelerómetros integrados en la ropa podrán analizar la postura y la técnica del usuario durante el ejercicio. Si se detectan movimientos incorrectos o niveles peligrosos de fatiga muscular, la ropa emitirá alertas para prevenir lesiones y optimizar el entrenamiento. Las estadísticas indican que las lesiones deportivas se pueden reducir en un 60% con el uso de ropa inteligente que monitorice y corrija la postura y la técnica de los deportistas.<br><br>
            Monitoreo de condiciones médicas crónicas<br><br>
            Para las personas con enfermedades crónicas, la ropa del futuro será una herramienta invaluable. Las prendas diseñadas específicamente para pacientes con enfermedades como diabetes, hipertensión o problemas cardíacos permitirán monitorear constantemente su estado de salud. Un estudio reciente demuestra que el monitoreo continuo en pacientes con enfermedades crónicas puede reducir las hospitalizaciones en un 40% y mejorar la adherencia al tratamiento en un 30%.<br><br>
        </p>
        <p style="font-size: large;">Funcionalidades adicionales</p><br>
        <p>    
            Además de las capacidades de monitorización de la salud, la ropa del futuro incorporará funcionalidades adicionales para mejorar la calidad de vida del usuario:<br><br>
        </p>    
        <li>
            <a style="font-weight: bold;">Tejidos autorreguladores de temperatura:</a><a> Las prendas podrán ajustar su temperatura automáticamente para mantener al usuario cómodo en diversas condiciones climáticas.</a><br>
        </li>
        <li>    
            <a style="font-weight: bold;">Tecnología antibacteriana:</a><a> Los materiales avanzados con propiedades antibacterianas ayudarán a mantener la higiene y reducir el riesgo de infecciones.</a><br>
        </li>
        <li>
            <a style="font-weight: bold;">Conectividad IoT:</a><a> La integración con el Internet de las cosas (IoT) permitirá que la ropa se comunique con otros dispositivos inteligentes, lo que brindará una experiencia más integrada y personalizada. Se espera que el mercado de textiles integrados con IoT crezca un 25 % anual hasta 2030.</a><br>
        </li>
        <li>
            <a style="font-weight: bold;">Carga de dispositivos:</a><a> Algunas prendas estarán equipadas con tecnología de carga inalámbrica, lo que permitirá a los usuarios cargar sus dispositivos móviles mientras las usan.</a><br>
        </li>
        <li>
            <a style="font-weight: bold;">Capacidad de pantalla táctil OLED:</a><a> La integración de pantallas OLED en prendas permite la visualización de datos en tiempo real y mejora la interacción del usuario. Estas pantallas son flexibles y duraderas, adecuadas para prendas inteligentes.</a><br><br>
        </li>
        <p style="font-size: large;">Personalización de materiales</p><br>
        <p>    
            La ropa del futuro también ofrecerá la posibilidad de personalizar los materiales para mejorar la comodidad y la funcionalidad. La personalización permitirá adaptar las prendas para la administración de medicamentos, lo que proporcionará tratamientos más efectivos y menos invasivos. La capacidad de las prendas para administrar medicamentos de manera controlada puede mejorar la comodidad y la eficacia del tratamiento, especialmente en el caso de enfermedades crónicas. Se estima que el mercado de los textiles para la administración de medicamentos crecerá un 20% <br><br>
        </p>    
        <p style="font-size: large;">El futuro de la ropa inteligente</p><br>
        <p>
            Los ordenadores textiles, también conocidos como prendas informáticas, representan una de las innovaciones más interesantes y prometedoras en el campo de la tecnología portátil. Estas prendas inteligentes, que combinan la flexibilidad y la comodidad de la ropa con las capacidades de procesamiento de los dispositivos electrónicos, tienen el potencial de transformar diversas áreas de nuestra vida. <br><br>
        </p>
        <li>
            <a style="font-weight: bold;">Procesamiento de datos en tiempo real:</a><a> Equipadas con microprocesadores integrados, estas prendas podrán analizar una amplia gama de datos fisiológicos y ambientales, proporcionando información instantánea y relevante al usuario.</a><br>
        </li>
        <li>
            <a style="font-weight: bold;">Comunicación y conectividad:</a><a> La integración de la tecnología IoT permitirá que las computadoras textiles se comuniquen con otros dispositivos inteligentes en el entorno del usuario, facilitando una experiencia de usuario más integrada y fluida.</a><br>
        </li>
        <li>    
            <a style="font-weight: bold;">Interfaz de usuario avanzada:</a><a> Los ordenadores textiles podrán incorporar pantallas OLED flexibles y otros tipos de interfaces visuales, permitiendo a los usuarios interactuar directamente con su ropa.</a><br>
        </li>
        <li>    
            <a style="font-weight: bold;">Capacidad de administración de medicamentos:</a><a> La capacidad de las computadoras textiles para administrar medicamentos de manera controlada es otra área de gran potencial, especialmente para pacientes con enfermedades crónicas.</a><br><br>
        </li>
        <p>
            La ropa del futuro representa una fascinante convergencia de moda y tecnología, con el potencial de transformar nuestra salud y bienestar de maneras sin precedentes. Al alertarnos sobre problemas de salud y ofrecer una amplia gama de funcionalidades avanzadas, estas prendas inteligentes se convertirán en compañeras esenciales de nuestra vida diaria. A medida que la investigación y el desarrollo en este campo sigan avanzando, podemos esperar que la moda del mañana no solo nos vista, sino que también nos cuide y nos proteja. <br><br><br>
        </p>
        <div class="flex items-center justify-center w-full">
            <a href="blog.html" onclick="redirectToBlog()" class="enlace" style=" display:flex;">
                <img src="Recursos/flecha izquierda.png" alt="regreso" style="width: 20px; height: 22px; margin-right: 5px;">Volver al blog
            </a>
        </div>
    </div>
    <script>
        // Referencias a los elementos
        const mirar = document.getElementById('mirar');
        const avisito = document.getElementById('avisito');
    
        // Evento mouseenter: Mostrar tooltip
        mirar.addEventListener('mouseenter', () => {
            avisito.style.display = 'block';
        });
    
        // Evento mouseleave: Ocultar tooltip
        mirar.addEventListener('mouseleave', () => {
            avisito.style.display = 'none';
        });
    </script>
    
</div>

{% endblock content %}


