{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <h1 class="text-darkgrey text-2xl mb-3 md:mr-10" style="margin-top: 50px; margin-left: 150px; margin-bottom: 50px; font-size: xx-large; color: #20415b;">
        TABLA DE TALLAS
    </h1>
    <table class="tallas-table" id="tallas-table" style="color: #20415b; margin-left: 100px; text-align: left;">
        <tr style="font-weight: bold;">
            <td style="text-align: left;"><p>TAMAÑO</p></td>
            <td><p>MANIQUÍ<br>(Brasil)</p></td>
            <td><p>MANIQUÍ<br>(U.S.A.)</p></td>
            <td><p>MANIQUÍ<br>(UE)</p></td>
            <td><p>BUSTO<br>(CM)</p></td>
            <td><p>CINTURA<br>(CM)</p></td>
            <td><p>CADERA<br>(CM)</p></td>
        </tr>
        <tr style=" text-align: left;">
            <td style="text-align: left;"><p style="font-weight: bold">EXTRA<br>PEQUEÑO</p></td>
            <td><p>34 - 36</p></td>
            <td><p>0 - 2</p></td>
            <td><p>32 - 34</p></td>
            <td><p>80 - 86</p></td>
            <td><p>61 - 67</p></td>
            <td><p>98 - 103</p></td>
        </tr>
        <tr style=" text-align: left;">
            <td style="text-align: left;"><p style="font-weight: bold">PEQUEÑO</p></td>
            <td><p>36 - 38</p></td>
            <td><p>2 - 4</p></td>
            <td><p>34 - 36</p></td>
            <td><p>87 - 93</p></td>
            <td><p>68 -´74</p></td>
            <td><p>104 - 110</p></td>
        </tr>
        <tr style=" text-align: left;">
            <td style="text-align: left;"><p style="font-weight: bold">MEDIO</p></td>
            <td><p>38 - 40</p></td>
            <td><p>4 - 6</p></td>
            <td><p>36 - 38</p></td>
            <td><p>94- 100</p></td>
            <td><p>74 - 80</p></td>
            <td><p>110 - 116</p></td>
        </tr>
        <tr style=" text-align: left;">
            <td style="text-align: left;"><p style="font-weight: bold">GRANDE</p></td>
            <td><p>40 - 42</p></td>
            <td><p>6 - 8</p></td>
            <td><p>38 - 40</p></td>
            <td><p>100 - 106</p></td>
            <td><p>80 - 86</p></td>
            <td><p>116 - 122</p></td>
        </tr>
        <tr style=" text-align: left;">
            <td style="text-align: left;"><p style="font-weight: bold">EXTRA<br>GRANDE</p></td>
            <td><p>42 - 44</p></td>
            <td><p>8 - 10</p></td>
            <td><p>40 - 42</p></td>
            <td><p>106 - 112</p></td>
            <td><p>86 - 92</p></td>
            <td><p>122 - 128</p></td>
        </tr>
    </table>
</div>
{% endblock content %}

