{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}

  <link href="{% static 'css/tailwind.css' %}" rel="stylesheet" />
  <link href="{% static 'css/custom_styles.css' %}" rel="stylesheet" />


  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">


  <link href="{% static 'fonts/@fontsource/playfair-display/700.css' %}" rel="stylesheet">
  <link href="{% static 'fonts/@fontsource/outfit/400.css' %}" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>

<h1>Dashboard de GoToGym</h1>

<div style="width: 80%; margin: 20px auto;">
    <canvas id="salesChart" width="400" height="200"></canvas>
</div>

<!-- Incluir Chart.js desde un CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('salesChart').getContext('2d');
  const salesChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Producto A', 'Producto B', 'Producto C', 'Producto D'],
          datasets: [{
              label: 'Ventas',
              data: [12, 19, 3, 5],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>
{% endblock %}

