# Django>=5.2
# djangorestframework
# django-cors-headers
# djangorestframework-simplejwt
# psycopg2-binary

# Framework base
Django>=5.2
djangorestframework
django-cors-headers
djangorestframework-simplejwt

# Base de datos MySQL
mysqlclient

# Dependencias extra
requests
gunicorn
whitenoise

# Manejo de variables de entorno (opcional pero recomendado)
python-dotenv
